<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Nanum Pen Script', cursive;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

        .wrap > img {
            width: 500px;
            height: 300px;
            padding: 10px;
        }

        .title {
            font-size: 30px;
        }

        .money {
            font-size: 15px;
        }

    </style>

</head>
<script>
    function do_order() {
        // if (document.getElementById("input_name").value == "")
        if ($('#input_name').val() == "")
            alert("이름을 입력하세요")
        else if ($('#input_addr').val() == "")
            alert("주소를 입력하세요")
        else if ($('#input_phone').val() == "")
            alert("전화번호를 입력하세요")
        else if (isNaN($('#select_ea').val()))
            alert("수량을 입력하세요")
        else
            alert("쭈문 완료")
    }
</script>
<body>
<div class="wrap">
    <img src="https://blog.jinbo.net/attach/615/200937431.jpg" alt="purchase">
    <span class="title">팜다</span>
    <span class="money">가격: 300,000원 / 개</span>
    <p>비추</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="span_name">이름</span>
        </div>
        <input type="text" id="input_name" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_ea">수량</label>
        </div>
        <select class="custom-select" id="select_ea">
            <option selected>---수량을 선택해주셍</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="span_addr">주소</span>
        </div>
        <input type="text" id=input_addr class="form-control" aria-label="address" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">전화번호</span>
        </div>
        <input type="text" id=input_phone class="form-control" aria-label="phone" aria-describedby="basic-addon1">
    </div>
    <div style="text-align: center;">
        <button onclick=do_order() class="btn btn-outline-secondary">주문하기</button>
    </div>
    <div>
        <table class="table">
            <thead>
            <th>이름</th>
            <th>수량</th>
            <th>주소</th>
            <th>전화번호</th>
            </thead>
            <tbody id="tablebody">
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        showtable()
    })

    function do_order() {
        getname = $('#input_name').val()
        getaddr = $('#input_addr').val()
        getphone = $('#input_phone').val()
        getea = $('#select_ea').val()
        $.ajax({
            type: 'POST',
            url: '/order',
            data: {name: getname, ea: getea, addr: getaddr, phone: getphone},
            success: function (re) {
                console.log(re)
                window.location.reload();
            }
        })
    }

    function showtable() {
        $.ajax({
            type: 'GET',
            url: '/order',
            data: {},
            success: function (re) {
                for (let i = 0; i < re['orders'].length; i++) {
                    console.log()
                    let tmpHtml = `
                                <td>${re['orders'][i].name}</td>
                                <td>${re['orders'][i].ea}</td>
                                <td>${re['orders'][i].addr}</td>
                                <td>${re['orders'][i].phone}</td>

                                `;
                    $('#tablebody').append(tmpHtml)
                }
            }
        })
    }
</script>
</body>
</html>